@media screen and (min-width: 600px) {
	.bgHeader {
		background: url(../../images/image-hero-desktop.jpg) center no-repeat;
		background-size: cover;
	}
	header {
		nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			margin-top: 30px;
			padding-top: 5px;

			.hamburger {
				display: none;
			}

			.nav-links {
				display: flex;
				width: 350px;
				height: auto;
				flex-wrap: nowrap;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				margin-top: 0;
				border-radius: 0;
				background-color: initial;
				overflow: visible;

				a {
					display: inline-block;
					color: $white;
					height: auto;
					padding: 10px;
					font-size: 1.2rem;
					transition: 0.5s;
					outline: initial;
					border: initial;
					border-radius: 20px;

					&:hover {
						background-color: initial;
					}
				}
			}
		}
	}

	main {
		.master-craft-block {
			@include card-padding;

			.button-block {
				.bookmark-block {
					transform: translateX(56px); // revert transform translate from span.bookmark-text
					&:hover {
						cursor: pointer;
						span.bookmark-text {
							background-color: rgba(200, 200, 200, 0.8);
							width: 165px;
						}
					}
					span.bookmark-logo {
						display: block;
						width: 56px;
						height: 56px;
						background-image: url("../../images/icon-bookmark.svg");
						position: relative;
						z-index: 2;
					}
					span.bookmark-text {
						display: inline-block;
						background-color: $light-gray;
						padding: 19px;
						transform: translateX(-56px);
						border-radius: 50px;
						text-align: right;
						width: 155px;
						position: relative;
						z-index: 1;
						transition: 0.5s;
					}
				}
			}
		}
	}
}
