@media screen and (min-width: 670px) {
	.bgHeader {
		background: url(../../images/image-hero-desktop.jpg) center no-repeat;
		background-size: cover;
	}
	header {
		nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			margin-top: 30px;
			padding-top: 5px;

			.hamburger {
				display: none;
			}

			.nav-links {
				display: flex;
				width: 350px;
				height: auto;
				flex-wrap: nowrap;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				margin-top: 0;
				border-radius: 0;
				background-color: initial;
				overflow: visible;

				a {
					display: inline-block;
					color: $white;
					height: auto;
					padding: 10px;
					font-size: 1.2rem;
					transition: 0.5s;
					outline: initial;
					border: initial;
					border-radius: 20px;

					&:hover {
						background-color: initial;
					}
				}
			}
		}
	}

	main {
		.master-craft-block {
			@include card-padding;

			.button-block {
				margin-bottom: 30px;
				.bookmark-block {
					transform: translateX(56px); // revert transform translate from span.bookmark-text
					&:hover {
						cursor: pointer;
						span.bookmark-text {
							background-color: rgba(200, 200, 200, 0.8);
							width: 170px;
						}
					}
					span.bookmark-logo {
						display: block;
						width: 56px;
						height: 56px;
						background-image: url("../../images/icon-bookmark.svg");
						position: relative;
						z-index: 2;
					}
					span.bookmark-text {
						display: inline-block;
						background-color: $light-gray;
						padding: 19px;
						transform: translateX(-56px);
						border-radius: 50px;
						text-align: right;
						width: 155px;
						position: relative;
						z-index: 1;
						transition: 0.5s;
					}
				}
			}
		}

		.data-card {
			@include card-padding;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.divider {
				transform: rotate(-90deg) translateX(-10px);
			}

			.progress-bar {
				margin-top: 0;
				margin-bottom: 30px;
			}
		}

		.main-block {
			@include card-padding;

			.main-card {
				@include card-padding;
				.card-header {
					flex-direction: row;
					align-items: center;
					h3:last-of-type {
						margin-top: 0;
					}
				}

				.card-footer {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 10px;

					.information,
					button {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.modal {
		.modal-content {
			.main-block-modal {
				.main-card-modal {
					grid-template-columns: 60px auto 100px;
					grid-template-rows: 50px auto auto;
					
					input {
						grid-area: 1/1/2/2;
					}
					
					.main-card-modal-title {
						flex-direction: row;
						justify-content: flex-start;
						align-items: center;
						column-gap: 20px;
						grid-area: 1/2/2/3;
					}

					p.card-modal-description {
						grid-area: 2/2/3/4;
					}
					.information {
						grid-area: 1/3/2/4;
					}
					.card-selected {
						grid-area: 3/1/4/4;
						padding-top: 10px;
						border-top: 1px solid $light-gray;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						row-gap: 0;
						position: relative;
						display: none;
						p {
							text-align: left;
						}
						.input-block {
							width: 300px;
							padding-top: 20px;
						}
					}
				}
			}
		}
	}
}
