// Primary Colors

$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);

// Neutral Colors

$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$light-white: rgba(250, 250, 250, 0.95);
$white: rgb(250, 250, 250);

// Font

$font-family: "Commissioner", sans-serif; // Weights: 400, 500, 700

//border radius

$border-radius: 10px;
